In [2]:
import csv, sqlite3
connection = sqlite3.connect("FinalDB.db")
cursor = connection.cursor()

In [3]:
import pandas as pd

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [6]:
df1 = pd.read_csv("ChicagoCensusData.csv")
df2 = pd.read_csv("ChicagoCrimeData.csv")
df3 = pd.read_csv("ChicagoPublicSchools.csv")
df1.to_sql('ChicagoCensusData', connection, if_exists='replace', index=False, method='multi')
df2.to_sql('ChicagoCrimeData', connection, if_exists='replace', index=False, method='multi')
df3.to_sql('ChicagoPublicSchools', connection, if_exists='replace', index=False, method='multi')

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

### Problem 11

##### Find the total number of crimes recorded in the CRIME table.

In [7]:
%sql select count(*) as "no. of crimes" from ChicagoCrimeData

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 12

##### List community areas with per capita income less than 11000.

In [8]:
%sql select COMMUNITY_AREA_NAME from ChicagoCensusData where PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 13

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [9]:
%sql select DISTINCT CASE_NUMBER from ChicagoCrimeData where DESCRIPTION LIKE '%minor%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 14

##### List all kidnapping crimes involving a child?

In [10]:
%sql select * from ChicagoCrimeData where PRIMARY_TYPE = "KIDNAPPING"

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 15

##### What kinds of crimes were recorded at schools?

In [11]:
%%sql select DISTINCT(PRIMARY_TYPE)
from ChicagoCrimeData where LOCATION_DESCRIPTION LIKE "%SCHOOL%"

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 16

##### List the average safety score for each type of school.

In [12]:
%%sql select DISTINCT "Elementary, Middle, or High School", AVG(SAFETY_SCORE)
from ChicagoPublicSchools group by "Elementary, Middle, or High School" ;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 17

##### List 5 community areas with highest % of households below poverty line

In [13]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY 
from ChicagoCensusData order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 18

##### Which community area is most crime prone?

In [14]:
%%sql select Cri.COMMUNITY_AREA_NUMBER,  count(Cri.COMMUNITY_AREA_NUMBER) as Count
from ChicagoCrimeData as Cri, ChicagoCensusData as Cen
WHERE Cen.COMMUNITY_AREA_NUMBER = Cri.COMMUNITY_AREA_NUMBER
group by Cri.COMMUNITY_AREA_NUMBER order by Count DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 19

##### Use a sub-query to find the name of the community area with highest hardship index

In [15]:
%%sql select Cri.COMMUNITY_AREA_NUMBER, Cen.COMMUNITY_AREA_NAME
from ChicagoCrimeData as Cri, ChicagoCensusData as Cen
WHERE Cen.COMMUNITY_AREA_NUMBER = Cri.COMMUNITY_AREA_NUMBER order by HARDSHIP_INDEX DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale')]

### Problem 20

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [16]:
%%sql select Cen.COMMUNITY_AREA_NAME,  count(Cri.COMMUNITY_AREA_NUMBER) as Count
from ChicagoCrimeData as Cri, ChicagoCensusData as Cen
WHERE Cen.COMMUNITY_AREA_NUMBER = Cri.COMMUNITY_AREA_NUMBER
group by Cri.COMMUNITY_AREA_NUMBER order by Count DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[('Austin', 43)]